body {
  background-color: lightblue;
}

page-banner {
  background: red;
  animation: fade-page-banner 5s infinite;
}
  
@keyframes fade-page-banner {
  from {background-color: red;}
  to {background-color: blue;}
}
